.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.content__wrapper {
  width: 700px;
  height: 160px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(
    90deg,
    var(--primary-block-bgc) 0%,
    var(--primary-block-bgc) 50%,
    var(--secondary-block-bgc) 50%,
    var(--secondary-block-bgc) 100%
  );
  border-radius: 10px;
  box-shadow: 0px 3px 20px rgba(5, 5, 5, 0.28);
}

.fieldsContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-currency {
  width: 300px;
}

.input-currency__header {
  font-size: 12px;
  text-align: left;
  color: var(--grey-color);
  margin-bottom: 5px;
}

.input-currency__form {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--grey-color);
  border-radius: 5px;
  position: relative;
}

.input-currency__form::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--grey-color);
  position: absolute;
  right: 80px;
}

.input-currency__input__label {
  width: 100%;
}

.input-currency__input {
  outline: none;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid var(--grey-color);
  border-right: none;
  width: 100%;
  border: none;
}

.input-currency__select {
  display: block;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
